.theme-background{
  background-color: #f6f6fb;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #CBCBCB;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  background-color: #999;
  height: 1px;
  margin: 0px;
  color: #CBCBCB;
  background-color: #CBCBCB;
}